useDynLib(VBLPCM, .registration = TRUE, .fixes="C_")
exportPattern("^[^\\C_]") # export all patterns that don't start with a C_
importFrom(mclust, mclustBIC)
importFrom(mclust, summaryMclustBIC)
importFrom(sna, component.largest)
importFrom(sna, geodist)
importFrom(sna, degree)
import(network, ergm)
importFrom("grDevices", "palette", "rgb")
importFrom("graphics", "plot", "points", "polygon", "symbols")
importFrom("stats", "as.formula", "cmdscale", "dist", "dnorm", "optim","quantile", "rbinom", "runif", "sd")
S3method(plot, vblpcm)
S3method(gof, vblpcm)
S3method(predict, vblpcm)
S3method(print, vblpcm)
S3method(summary, vblpcm)
