# Export everything
exportPattern("*")
importFrom(mclust, mclustBIC)
importFrom(mclust, summaryMclustBIC)
importFrom(sna, component.largest)
importFrom(sna, geodist)
importFrom(sna, degree)
import(network, ergm)
importFrom("grDevices", "palette", "rgb")
importFrom("graphics", "plot", "points", "polygon", "symbols")
importFrom("stats", "as.formula", "cmdscale", "dist", "dnorm", "optim","quantile", "rbinom", "runif", "sd")
S3method(plot, vblpcm)
S3method(gof, vblpcm)
S3method(predict, vblpcm)
S3method(print, vblpcm)
S3method(summary, vblpcm)

